body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 30px;
    color: #414345;
    line-height: 16px;
}
h2{
    color: #414345;
}
#color{
    color: orange;
}
.first-half{
    display: flex;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    
    padding-top: 5%;
}
.half-width img{
    width: 80%;
}
.half-width .middle-img{
    width: 50%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#f5af19,#f12711);
    padding: 10px 40px;
    border-radius: 70px;
    font-weight: 700;
}
.top-baner{
    background-image: url(images/shapes/top.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.middli-part{
    background-image: url(images/shapes/middle.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#t-align{
    text-align: center;
    margin-top: 4%;
}
.flexible{
    display: flex;
}
.third-section{
    width: 25%;
    box-shadow: 10px 10px 50px gray;
    margin-left: 5%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 10px;   
}
.third-section img{
    width: 100%;  
}
.final-part{
    margin-top: 5%;
    padding-top: 2%;
    box-shadow: 10px 10px 50px gray;
    margin-left: 15%;
    margin-right: 10%;
    padding-left: 5%;
    border-radius: 20px;
}
#border{
    display: flex;
    width: 100%;       
}

.box{
    width: 30%;   
}

.box1{
    padding-left: 30px;
}

.box2{
    margin-left: 25px;
   
}
.box3{
   padding-left: 20px;
   
   text-align: center
}
.bottom-part{
    margin-top: 10%;
    border: 1px solid black;
    background-color: black;
    
}
.middle{
    text-align: center;
    color: blanchedalmond;
}
#food-color{
    color: #FF8008;
}
#network-color{
    color: #636e72;
}
